.main {
  width: 980px;
  height: 455px;
  margin-left: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.focus {
  float: left;
  width: 720px;
  height: 455px;
}
.newsflash {
  float: right;
  width: 250px;
  height: 455px;
}
.news {
  height: 165px;
  border: 1px solid #dfdfdf;
}
.news-hd {
  height: 33px;
  line-height: 33px;
  border-bottom: 1px dotted #dfdfdf;
  padding: 0 15px;
}
.news-hd h5 {
  float: left;
  font-size: 14px;
}
.news-hd .more {
  float: right;
}
.news-hd .more::after {
  font-family: icomoon;
  content: "\e920";
  margin-left: 5px;
  vertical-align: middle; /*垂直居中*/
}
.news-bd {
  padding: 5px 15px 0;
}
.news-bd ul li {
  height: 24px;
  line-height: 24px;
}
.lifeservice {
  /* overflow: hidden; */
  height: 210px;
  border-left: 1px solid #dfdfdf;
}
.lifeservice ul li {
  float: left;
  width: 25%;
  height: 70px;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  text-align: center;
}
.lifeservice ul li i {
  display: inline-block;
  width: 24px;
  height: 28px;
  margin-top: 12px;
  background: url(../images/icons.png) no-repeat -19px -15px;
}
.bargin {
  margin-top: 5px;
}

.recom {
  height: 165px;
}
.recom-hd {
  float: left;
  width: 205px;
  height: 165px;
  background-color: #5c5251;
  text-align: center;
  padding-top: 30px;
}
.recom-bd {
  float: left;
  width: 995px;
  height: 165px;
  background-color: #ebebeb;
}
.recom-bd ul li {
  position: relative;
  float: left;
}
.recom-bd ul li img {
  width: 248px;
  height: 163px;
}
.recom-bd ul li:nth-child(-n + 3):after {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  width: 1px;
  height: 145px;
  background-color: #dddddd;
}

/* 家用电器 */
.box_hd {
  height: 30px;
  border-bottom: 2px solid #c81623;
}
.box_hd h3 {
  float: left;
  font-size: 18px;
  font-weight: 400;
  color: #c81623;
}
.tab_list {
  float: right;
  line-height: 30px;
}
.tab_list ul li {
  float: left;
}
.tab_list ul li a {
  padding: 0 10px;
}
.floor .w {
  margin-top: 30px;
}
.box_bd {
  height: 360px;
}

.tab_list_item > div {
  float: left;
  height: 360px;
}
.col_210 {
  width: 210px;
  background-color: #f9f9f9;
}
.col_210 ul li{
  float: left;
  width: 85px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  margin-left: 15px;
}
.col_210 img {
  margin-left: 32px;
  margin-top: 24px;
}
.col_329 {
  width: 329px;
}
.col_221 {
  width: 221px;
  text-align: center;
  border-right: 1px solid #ddd;
}
.col_221 a{
  display: block;
  margin-top: 15px;
}

.col_219 {
  width: 219px;
  text-align: center;
}
.col_219 a{
  display: block;
  margin-top: 15px;
}

.bb{
  display: block;
  border-bottom: 1px solid #dddddd;
}