<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!--
        条件渲染：
            1.v-if
                写法：
                    （1）v-if="表达式"
                    （2）v-else-if="表达式"
                    （3）v-else="表达式"
                适用于：切换频率较低的场景
                特点：不展示的DOM元素会直接被删除
                注意：v-if可以和v-else-if、v-else一起使用，但要求结构不能被“打断”
            2.v-show
                写法：v-show="表达式"
                适用于：切换频率较高的场景。
                特点：不展示的DOM元素未被移除，仅仅是将样式设置为了display:none不显示而已。
            3.备注：
                使用v-if的时候，元素可能无法获取到，而是v-show一定可以获取到。
    -->
    <div id="root">
        <!--使用v-show做条件渲染-->
        <h2 v-show="true">欢迎来学习条件渲染</h2>

        <!--使用v-if做条件渲染-->
        <h2 v-if="false">欢迎来学习条件渲染</h2>

        <!--v-if v-else-if v-else的使用，如果之间被打断，就不能继续往下执行，并且会报错-->
        <h2>当前的n值是：{{n}}</h2>
        <button @click="n++">点我n + 1</button>
        <div v-if="n === 1">Angular</div>
        <div v-else-if="n === 2">React</div>
        <div v-else-if="n === 3">Vue</div>
        <div v-else>嘿嘿</div>

        <!--v-if与template的配合使用-->
        <template v-if="n === 1">
            <h2>你好</h2>
            <h2>北京</h2>
            <h2>我来了</h2>
        </template>
    </div>
    <script>
        const vm = new Vue({
            el:"#root",
            data:{
                n:0
            }
        })
    </script>
</body>
</html>